.cart {
  text-align: center;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.cart ol {
  text-align: left;
}

.cart li {
  margin-bottom: 10px;
}

.cart button {
  margin-left: 10px;
}
